        body {
            font-family: 'Helvetica Neue', Helvetica, sans-serif;
        }

        p {
            font-size: 10pt;
            margin-left: 20px;
        }

        .border-round {
            border:2px #000088 solid; 
            border-radius: 4px;
        }

        .countries {
            stroke: #fff;
        }

        .legend rect {
            stroke: #000;
        }

        .legend,
        .legend_title text {
            font-size: 10pt;
        }

        .barlabel {
            font-size: 8pt;
            text-anchor: middle;
        }
        .selected {
           opacity: 0.6;
           stroke-width: 4;
           stroke: black;
        }
        .line {
        }       

        .area {
            fill: lightsteelblue;
        }

        .browser text {
            text-anchor: end;
        }
    rect, line { shape-rendering: crispEdges; }
    .box text { fill: black; }
        .annotation rect, .annotation line { fill: none; stroke: #002e5e; stroke-dasharray: 2,2 }
        .annotation text { fill: black; font-size: 36}
